<!-- templates/about_site.html -->
{% extends "layout.html" %}

{% block content %}
<h1 class="info-title">About YT Tool Box</h1>
<p class="info-desc">
  YT Tool Box is your all-in-one toolkit to grow your YouTube channel. From downloading thumbnails to generating smart tags, keywords, titles, and viewing channel stats – everything is in one place.
</p>
<p class="info-desc">
  Our tools are free, fast, and easy to use. Whether you’re a beginner or pro creator, we help you get better results and save time!
</p>
{% endblock %}
