<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YT Tool Box - All-in-One YouTube Tools like tag extractor, thumbnail downloader, AI title generator, video stats viewer, and more to grow your YouTube channel fast.">
    <meta name="keywords" content="YouTube tools, tag extractor, thumbnail downloader, keyword generator, YouTube stats, AI video titles, video info">
    <meta name="author" content="YT Tool Box">
    <title>YT Tool Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
