<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">YT Tool Box</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/thumbnail">Thumbnail Downloader</a></li>
      <li><a href="/stats">My Stats Viewer</a></li>
      <li><a href="/ai">AI Title & Description Generator</a></li>
      <li><a href="/tag">Tag Generator</a></li>
      <li><a href="/keywords">Keyword Generator</a></li>
      <li><a href="/video_info">Video Info Viewer</a></li>
      <li><a href="/what-is-tags">What is Tag?</a></li>
      <li><a href="/what-is-thumbnails">What is Thumbnail?</a></li>
      <li><a href="/what-is-keywords">What is Keyword?</a></li>
      <li><a href="/about-site">About</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </div>
</nav>
