<!-- templates/thumbnail.html -->
{% extends 'layout.html' %}

{% block title %}Download Thumbnail - YT Tool Box{% endblock %}

{% block content %}
<h1 class="tool-heading">YouTube Thumbnail Downloader</h1>
<p class="tool-description">Paste a YouTube video link to download the highest-quality thumbnail image. Simple and fast!</p>

<form action="/thumbnail" method="POST">
    <input type="text" name="url" placeholder="Enter YouTube Video URL" required>
    <button type="submit">Get Thumbnail</button>
</form>

{% if thumbnail_url %}
<div class="result-container">
    <h2>Thumbnail Preview</h2>
    <img src="{{ thumbnail_url }}" alt="YouTube Thumbnail" width="100%">
    <br><br>
    <a href="{{ thumbnail_url }}" download class="download-button">Download Thumbnail</a>
</div>
{% endif %}

{% endblock %}
