{% extends "layout.html" %}

{% block content %}
<div class="content-box">
  <h1 style="color: red;">What is a YouTube Tag?</h1>
  <p style="font-size: 18px;">
    YouTube tags are keywords added to your videos to help people discover your content more easily. They tell YouTube's algorithm what your video is about and improve its chances of appearing in search results. 
  </p>
  <p style="font-size: 18px;">
    Adding relevant tags helps boost visibility, increase watch time, and attract the right audience. Use tags that describe your video content, title, and niche. 
  </p>
  <p style="font-size: 18px;">
    Our free Tag Generator helps you create high-performing tags in one click. Boost your channel's growth today!
  </p>
</div>
{% endblock %}
